<div class="enigmeDiv">

  <h1 class="titreEnigme">
    CSS
  </h1>
  <p class="enonceEnigme">
    Complétez cette classe CSS pour que le bouton soit visible
  </p>
  <div>
    .boutonSuivant{<br>
    <div style="margin-left: 10px">
      visibility: hidden;
    </div>
    <br>
    }
  </div>

  <%= form_with do |form| %>
    <div>
      <%= form.label :reponse %><br>
      <%= form.text_area :reponse %>
    </div>
    <div>
      <%= form.submit :envoyer%>
    </div>
  <% end %>
  <% if @avoirBon.present? %>
    <% if @avoirBon%>
      <a href="http://spring.enigmatica.com" class="btn btn-success">Suivant</a>
    <% else %>
      <div><%= @reponse.inspect %> est une mauvaise réponse</div>
    <% end %>
  <% end %>


  <!--  <form>-->
<!--    <button type="submit" class="envoyerBouton">Envoyer</button>-->
<!--  </form>-->
</div>
